<meta meta charset=utf-8>
<!-- <img class=image src="assets/img/beach_freelancer.jpg"> -->

<div class=container>
	
		<section class="linebtn">
		  <a href="becomefl" (click)="sendMeBecomefl()">
		    <span class="text" >{{ freelancer }}</span>
		    <span class="line -right"></span>
		    <span class="line -top"></span>
		    <span class="line -left"></span>
		    <span class="line -bottom"></span>
		  </a>
		  
		  <a href="hirefl" (click)="sendMeHirefl()">
		    <span class="text" >{{ employer }}</span>
		    <span class="line -right"></span>
		    <span class="line -top"></span>
		    <span class="line -left"></span>
		    <span class="line -bottom"></span>
		  </a>
		</section>
	
	<div class="category">
		<p>Hello</p> 
	</div>
	
</div>