/* You can add global styles to this file, and also import other style files */

//@import url('https://fonts.googleapis.com/css?family-Raleway:300,700');

body {
    background: #2d2d2d; /*background color*/
    padding: 20px;
    //background-image: url(../src/app/images/galaxy_background.jpg);
    //background-size: cover;
    padding-top: 3em; /*free space around background*/
    font-family: 'Raleway', 'Arial';
    color: #fff; /*text color*/
}
ul{
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}
ul li{
    padding-left: 20px;
    margin-right: 5px;
    display:inline;
}
ul li a{
    font-size: 1.5em;
}
a{
    color: #fff; 
    text-decoration:none;
}


